/*
 * style.scss - Navbar style file
 */
/* Import colors */
@import "../../assets/styles/colors.scss";

#navbarContainer {
  .reseau-container {
    margin-top: 6px;
    .logo-reseau,
    svg {
      width: 20px;
    }
  }

  .portfolio {
    margin-right: 850px;
  }

  .fixed {
    position: fixed;
  }

  .zindex100 {
    z-index: 100;
  }

  #mobile-nav {
    svg path {
      fill: $primary;
    }
    a,
    .material-icons {
      color: $primary;
    }
  }
}
