/*
 * style.scss - Navbar style file
 */

#navbarContainer {
  .logo-reseau {
    width: 20px;
  }

  .portfolio {
    margin-right: 200px;
  }

  .fixed {
    position: fixed;
  }

  .zindex100 {
    z-index: 100;
  }
}
