/*
 * style.scss - Footer style file
 */

#footerContainer {
  height: 64px;
  vertical-align: middle;

  #copyrightContainer {
    text-align: right;
    padding: 10px 60px;

    .copyright-txt {
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 992px) {
  #footerContainer #copyrightContainer {
    text-align: center !important;
  }
}
