/*
 * colors.scss - Colors file
 */

/* Primary color */
$primary: #530133;
$primaryDarken: #361328;
$primaryLighten: #99055f;

/* Secondary colors */
$secondaryLighten: #cecece;

/* Accent colors */
$accent: #7fb606;
$accentDarken: #456301;
$accentLighten: #b2e248;

/* disabled color */
$disabled: #0000000a;
