/*
 * colors.scss - Colors file
 */

/* Primary color */
$primary: #80dcbe;

/* Secondary colors */
$secondary: #272930;
$secondaryDarken: #0e1017;
$secondaryLighten: #474e58;
$secondaryLighter: #727e8f;

/* Accent colors */
$accent: #5adfbc;
$accentDarken: #37a085;
$accentLighten: #8cdcc7;

/* disabled color */
$disabled: #0000000a;
