/*
 * colors.scss - Colors file
 */

/* Primary color */
$primary: #530133;
$primaryDarken: #361328;
$primaryLighten: #99055f;

/* Secondary colors */
$secondary: #f3e9ef;

/* Accent colors */
$accent: #ff625a;
$accentDarken: #b4591c;
$accentLighten: #b2e248;

/* disabled color */
$disabled: #0000000a;
