/*
 * main.scss - Main style file
 */

/* Import colors */
@import "./colors.scss";

html,
body {
  background-color: $secondary;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Niramit", sans-serif;
  color: $primaryDarken;
  font-size: 18px;
}

#appContainer {
  /* global */
  .title {
    font: italic 700 2.5rem "Bellota", cursive, sans-serif;
  }

  .subtitle {
    font: italic 700 2rem "Bellota", cursive, sans-serif;
  }

  .img100 {
    max-width: 100%;
  }

  /* Colors */

  .primary-bg {
    background-color: $primary !important;
  }

  .primary-txt {
    color: $primary !important;
  }

  .primary-bg.lighten {
    background-color: $primaryLighten !important;
  }

  .primary-txt.lighten {
    color: $primaryLighten !important;
  }

  .primary-bg.darken {
    background-color: $primaryDarken !important;
  }

  .primary-txt.darken {
    color: $primaryDarken !important;
  }

  .secondary-bg {
    background-color: $secondary !important;
  }

  .secondary-txt {
    color: $secondary !important;
  }

  .accent-bg {
    background-color: $accent !important;
  }

  .accent-txt {
    color: $accent !important;
  }

  .accent-bg.darken {
    background-color: $accentDarken !important;
  }

  .accent-txt.darken {
    color: $accentDarken !important;
  }

  .accent-bg.lighten {
    background-color: $accentLighten !important;
  }

  .accent-txt.lighten {
    color: $accentLighten !important;
  }
}

.center {
  text-align: center;
}

.project-container {
  padding-top: 64px;
  height: 100vh;
}

@media only screen and (max-width: 992px) {
  html {
    li,
    p {
      font-size: 14px !important;
    }
    h1 {
      font-size: 2rem;
    }
  }

  #appContainer .title {
    font-size: 1.5rem;
  }

  nav .brand-logo {
    font-size: 1.2rem;
  }

  .parcours-container {
    .parcours-tab {
      ul {
        margin: 0.5rem 0;
      }
      .title-tab {
        font-size: 1rem;
        margin: 0.5rem 0 0;
      }

      .subtitle-tab {
        margin-bottom: 0;
      }
    }
  }
}
