/*
 * main.scss - Main style file
 */

/* Import colors */
@import "./colors.scss";

html,
body {
  background-color: $secondary;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Niramit", sans-serif;
  color: $primaryDarken;
}

#appContainer {
  /* global */
  .title {
    font: italic 700 2.5rem "Bellota", cursive, sans-serif;
  }

  /* Colors */

  .primary-bg {
    background-color: $primary !important;
  }

  .primary-txt {
    color: $primary !important;
  }

  .primary-bg.lighten {
    background-color: $primaryLighten !important;
  }

  .primary-txt.lighten {
    color: $primaryLighten !important;
  }

  .primary-bg.darken {
    background-color: $primaryDarken !important;
  }

  .primary-txt.darken {
    color: $primaryDarken !important;
  }

  .secondary-bg {
    background-color: $secondary !important;
  }

  .secondary-txt {
    color: $secondary !important;
  }

  .accent-bg {
    background-color: $accent !important;
  }

  .accent-txt {
    color: $accent !important;
  }

  .accent-bg.darken {
    background-color: $accentDarken !important;
  }

  .accent-txt.darken {
    color: $accentDarken !important;
  }

  .accent-bg.lighten {
    background-color: $accentLighten !important;
  }

  .accent-txt.lighten {
    color: $accentLighten !important;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    font-size: 1.2rem;
  }
}
